.g-new_job{

  &__label{
    @include span-columns(3);
    margin-top: 4px;
    text-align: right;
  }

  &__field{
    @include span-columns(9);
    @include omega();

    input, textarea{
      @include span-columns(8);
    }
  }

  &__action{
    @include span-columns(3);
    @include shift(7.5);
    @include omega();
  }
}

.g-jobs-list{
  margin-top: 16px;
  display: inline-block;
}

.g-job{
  @include fill_parent();
  @include row();
  margin-bottom: -16px;

  &__items{
    margin-bottom: 20px;
  }

  &__half{
    @include span-columns(6);
  }

  &__activity{
    @include span-columns(4.5);
  }

  &__description{
    @include span-columns(7.6);
    margin-right: 1%;
  }
}
