.g-jobs-list{
  margin-top: 16px;
  display: inline-block;
}

.g-job{
  @include fill_parent();
  @include row();
  margin-bottom: -16px;

  &__items{
    @include row();
    margin-bottom: 20px;
  }

  &__half{
    @include span-columns(6);
  }

  &__activity{
    @include span-columns(4.5);
  }

  &__description{
    @include span-columns(7.6);
    margin-right: 1%;

    &__left{
      @include span-columns(9);
    }

    &__right{
      @include span-columns(3);
      text-align: right;
    }

    &__content{
      @include row();

      &__value{
        @include span-columns(1.5);
        border-right: solid $black 1px;
      }

      &__opt{
        padding-left: 4px;
      }
    }
  }

  &__new{
    @include row();

    &__label{
      @include span-columns(3);
      margin-top: 4px;
      text-align: right;
    }

    &__title{
      @include row();

      &__text{
        @include span-columns(10);
      }

      &__action{
          @include span-columns(1);
          text-align: right;
      }
    }


    &__field{
      @include span-columns(9);
      @include omega();

      input, textarea{
        @include span-columns(8);
      }
    }

    &__action{
      @include span-columns(3);
      @include shift(7.5);
      @include omega();
    }

    &__separator{
      margin: 0;
    }

    &__expanded{
      display: none;
    }
  }

  &__button{

    &__edit{

      &__assignment{
        border: 0;
        color: #fff;
        width: 112px;
        display: block;
        line-height: 1;
        cursor: pointer;
        appearance: none;
        font-weight: 600;
        user-select: none;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: middle;
        font-size: $base-font-size;
        background-color: $bluegray;
        font-family: $base-font-family;
        border-radius: $base-border-radius;
        -webkit-font-smoothing: antialiased;
        padding: $small-spacing $base-spacing;
        transition: background-color $base-duration $base-timing;

        &:hover,
        &:focus {
          color: #fff;
          background-color: shade($action-color, 20%);
        }
      }
    }
  }
}
