.summary{

  &__title{
    text-align: center;
    margin-bottom: 8px;
  }

  &__main{
    @include row();
    padding: 14px 20px;

    &__number{
      @include span-columns(.5);
      font-weight: 600;
    }

    &__title{
      @include span-columns(8.5);
      font-size: 14px;
      font-weight: 600;
    }

    &__pic{
      @include span-columns(3);
      font-size: 14px;
      font-weight: 600;
    }

    &__result{
      @include span-columns(2);
    }
  }

  &__item{
    @include row();
    margin-bottom: 24px;

    &__job{
      @include row();
      padding-top: 56px;
      @include shift(.5);
    }

    h4{
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      padding: 0;
      @include shift(.5);
    }

    &__result{
      @include span-columns(6);
      font-size: 14px;
      font-weight: 600;
    }

    &__value{
      @include shift(3);
      @include span-columns(3);
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__job{
    @include row();

    &__number{
      @include span-columns(.5);
    }

    &__title{
      @include span-columns(8.3);
      font-size: 14px;
      font-weight: 400;
    }

    &__contrib, &__progress{
      @include span-columns(1);
      text-align: right;
    }

    &__result{
      @include span-columns(1.2);
      text-align: right;
    }
  }

  &__result{
    margin-top: 8px;
    border-top: 1px solid $black;

    &__percentage{
      @include span-columns(3);
      text-align: right;
    }
    &__text{
      @include span-columns(9);
    }
  }

  &__right{
    @include shift(10);
    @include span-columns(2);
  }

  &__row{
    @include row();
    margin-bottom: 12px;
  }

  &__description{
    @include row();
    width: 275px;
    margin: 0 auto;

    &__caption{
      @include span-columns(4);
      text-align: right;
    }

    &__value{
      @include shift(1);
      @include span-columns(7);
      font-weight: 600;
    }
  }

  &__final{
    @include row();
    margin-top: 44px;

    &__text{
      @include shift(9);
      @include span-columns(1.75);
      font-size: 16px;
      font-weight: 600;
      text-align: right;
    }

    &__percentage{
      @include span-columns(1.25);
      font-size: 16px;
      font-weight: 600;
    }

    &__signature, &__owner{
      @include shift(9);
      @include span-columns(3);
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }

    &__owner{
      padding-top: 60px;
    }
  }

  &__task{
    @include shift(.5);
  }
}

.user{
  @include row();
  @include shift(.5);

  &__job{
    @include row();
    padding: 12px 0;

    &__number{
      @include span-columns(.5);
    }

    &__field{
      @include span-columns(9);
    }

    &__status{
      @include span-columns(2.5);
      font-weight: 600;
      font-size: 15px;
    }

    &__task{
      @include row();

      &__notation{
        @include span-columns(.5);
      }

      &__field{
        @include span-columns(9);
      }

      &__status{
        @include span-columns(2.5);
        font-weight: 600;
      }
    }
  }
}
