.g-project{
  @include row();

  &__label{
    @include span-columns(2);
    font-size: 16px;
  }

  &__field{
    @include span-columns(10);
    font-size: 16px;
  }

  &__edit{

    &__button{
      appearance: none;
      background-color: $action-color;
      border: 0;
      border-radius: $base-border-radius;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      font-weight: 600;
      line-height: 1;
      padding: $small-spacing $base-spacing;
      text-decoration: none;
      transition: background-color $base-duration $base-timing;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;

      &:hover,
      &:focus {
        background-color: shade($action-color, 20%);
        color: #fff;
        }
      }
  }

  &__detail{
    @include span-columns(10);

    &__item{
      padding-top: 16px;
      padding-bottom: 24px;
    }
  }

  &__status{
    height: 4px;
    width: 200px;
    margin-top: 4px;
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
  }
}

.g-new_project{

  &__label{
    @include span-columns(3);
    margin-top: 4px;
    text-align: right;
  }

  &__field{
    @include span-columns(9);
  }
}
